.products >h1{
    margin: 0 0 1em
}

.products >ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.products > ul > li {
    overflow: hidden;
    list-style: none;
    width: 17em;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 3);
 
    cursor: pointer;
    transition: all .5;
}

.products > ul > li:hover{
    box-shadow: 1px 1px 10px rgba(33, 33, 56);
}

.products > ul > li > a{
   color: black;
   text-decoration: none;

}



.products > ul > li > a >p{
    margin: 0.5em 1em;

}